# Created by http://gitignore.io

### Objective-C ###
# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
platforms
plugins
www.zip
www.old/components/quojs/component.json
www.old/components/quojs/quo.debug.js
www.old/components/quojs/quo.js
www.old/config.xml
www.old/cordova_plugins.js
www.old/cordova.js
www.old/css/index.css
www.old/icon.png
www.old/img/04 - Walkthrough1.jpg
www.old/img/05 - Walkthrough2.jpg
www.old/img/06 - Walkthrough3.jpg
www.old/img/07 - Walkthrough4.jpg
www.old/img/add-button@2x.png
www.old/img/add-center-button@2x.png
www.old/img/alarm-icon-blue@2x.png
www.old/img/alarm-icon-grey@2x.png
www.old/img/back-button@2x.png
www.old/img/bg_walkthrough1.jpg
www.old/img/bg_walkthrough2.jpg
www.old/img/bg_walkthrough3.jpg
www.old/img/cancel-button@2x.png
www.old/img/chris-avatar.jpg
www.old/img/connect-with-google.png
www.old/img/connect-with-google@2x.png
www.old/img/date-icon@2x.png
www.old/img/default-upload-icon@2x.png
www.old/img/done-button@2x.png
www.old/img/email-icon@2x.png
www.old/img/etched-logo.png
www.old/img/etched-logo@2x.png
www.old/img/feed-button@2x.png
www.old/img/image-icon@2x.png
www.old/img/location-icon@2x.png
www.old/img/location2-icon@2x.png
www.old/img/lock-icon.png
www.old/img/lock-icon@2x.png
www.old/img/logo.png
www.old/img/logo@2x.png
www.old/img/mockup/girl-with-glasses.jpg
www.old/img/mockup/jonathan-hall.jpg
www.old/img/mockup/katie-mckenna.jpg
www.old/img/mockup/nick-crawford.jpg
www.old/img/mockup/rachel-fitchner.jpg
www.old/img/password-icon.png
www.old/img/password-icon@2x.png
www.old/img/phone-icon@2x.png
www.old/img/pin-blue-bg.png
www.old/img/powered-by-foursquare-full.png
www.old/img/reminder-set-icon@2x.png
www.old/img/reminder@2x.png
www.old/img/search-icon.png
www.old/img/splash-logo.png
www.old/img/splash-logo@2x.png
www.old/img/time-icon@2x.png
www.old/img/user-icon@2x.png
www.old/img/user2-icon@2x.png
www.old/index.html
www.old/js/fancybox/blank.gif
www.old/js/fancybox/fancybox_loading.gif
www.old/js/fancybox/fancybox_loading@2x.gif
www.old/js/fancybox/fancybox_overlay.png
www.old/js/fancybox/fancybox_sprite.png
www.old/js/fancybox/fancybox_sprite@2x.png
www.old/js/fancybox/jquery.fancybox-thumbs.css
www.old/js/fancybox/jquery.fancybox-thumbs.js
www.old/js/fancybox/jquery.fancybox.css
www.old/js/fancybox/jquery.fancybox.js
www.old/js/index.js
www.old/js/jquery-1.10.1.min.js
www.old/js/retina-1.1.0.min.js
www.old/package/lungo/component.json
www.old/package/lungo/lungo.css
www.old/package/lungo/lungo.icon.css
www.old/package/lungo/lungo.js
www.old/package/lungo/lungo.theme.css
www.old/res/icon/android/icon-36-ldpi.png
www.old/res/icon/android/icon-48-mdpi.png
www.old/res/icon/android/icon-72-hdpi.png
www.old/res/icon/android/icon-96-xhdpi.png
www.old/res/icon/bada-wac/icon-48-type5.png
www.old/res/icon/bada-wac/icon-50-type3.png
www.old/res/icon/bada-wac/icon-80-type4.png
www.old/res/icon/bada/icon-128.png
www.old/res/icon/blackberry/icon-80.png
www.old/res/icon/ios/etched-app-icon-57-2x.png
www.old/res/icon/ios/etched-app-icon-57.png
www.old/res/icon/ios/etched-app-icon-60.png
www.old/res/icon/ios/etched-app-icon-72-2x.png
www.old/res/icon/ios/etched-app-icon-72.png
www.old/res/icon/ios/etched-app-icon-120r.png
www.old/res/icon/ios/etched-app-icon-512.png
www.old/res/icon/ios/etched-app-icon-1024r.png
www.old/res/icon/ios/icon-57-2x.png
www.old/res/icon/ios/icon-57.png
www.old/res/icon/ios/icon-72-2x.png
www.old/res/icon/ios/icon-72.png
www.old/res/icon/tizen/icon-128.png
www.old/res/icon/webos/icon-64.png
www.old/res/icon/windows-phone/icon-48.png
www.old/res/icon/windows-phone/icon-62-tile.png
www.old/res/icon/windows-phone/icon-173-tile.png
www.old/res/screen/android/screen-hdpi-landscape.png
www.old/res/screen/android/screen-hdpi-portrait.png
www.old/res/screen/android/screen-ldpi-landscape.png
www.old/res/screen/android/screen-ldpi-portrait.png
www.old/res/screen/android/screen-mdpi-landscape.png
www.old/res/screen/android/screen-mdpi-portrait.png
www.old/res/screen/android/screen-xhdpi-landscape.png
www.old/res/screen/android/screen-xhdpi-portrait.png
www.old/res/screen/bada-wac/screen-type3.png
www.old/res/screen/bada-wac/screen-type4.png
www.old/res/screen/bada-wac/screen-type5.png
www.old/res/screen/bada/screen-portrait.png
www.old/res/screen/blackberry/screen-225.png
www.old/res/screen/ios/etched-iphone-portrait-2x.png
www.old/res/screen/ios/etched-iphone-portrait-568h-2x.png
www.old/res/screen/ios/screen-ipad-landscape-2x.png
www.old/res/screen/ios/screen-ipad-landscape.png
www.old/res/screen/ios/screen-ipad-portrait-2x.png
www.old/res/screen/ios/screen-ipad-portrait.png
www.old/res/screen/ios/screen-iphone-landscape-2x.png
www.old/res/screen/ios/screen-iphone-landscape.png
www.old/res/screen/ios/screen-iphone-portrait-2x.png
www.old/res/screen/ios/screen-iphone-portrait-568h-2x.png
www.old/res/screen/ios/screen-iphone-portrait.png
www.old/res/screen/tizen/README.md
www.old/res/screen/webos/screen-64.png
www.old/res/screen/windows-phone/screen-portrait.jpg
www.old/spec.html
www.old/spec/helper.js
www.old/spec/index.js
www.old/spec/lib/jasmine-1.2.0/jasmine-html.js
www.old/spec/lib/jasmine-1.2.0/jasmine.css
www.old/spec/lib/jasmine-1.2.0/jasmine.js
www.old/spec/lib/jasmine-1.2.0/MIT.LICENSE
www.old/static/asides/left-sidebar.html
www.old/static/asides/right.html
www.old/static/images/logo.png
www.old/static/javascripts/app.api.js
www.old/static/javascripts/app.contact.js
www.old/static/javascripts/app.database.js
www.old/static/javascripts/app.db.js
www.old/static/javascripts/app.image.js
www.old/static/javascripts/app.js
www.old/static/javascripts/app.moment.js
www.old/static/javascripts/app.moments.js
www.old/static/javascripts/app.photo.js
www.old/static/javascripts/app.user.js
www.old/static/javascripts/mapbox.js
www.old/static/javascripts/mapping.js
www.old/static/javascripts/moment.min.js
www.old/static/javascripts/notifications.js
www.old/static/javascripts/PushNotification.js
www.old/static/javascripts/s3upload.js
www.old/static/sections/add-moment-location.html
www.old/static/sections/add-moment-photos.html
www.old/static/sections/add-moment-reminder-end.html
www.old/static/sections/add-moment-reminder-frequency.html
www.old/static/sections/add-moment-select-contacts.html
www.old/static/sections/add-moment.html
www.old/static/sections/home.html
www.old/static/sections/login.html
www.old/static/sections/moments.html
www.old/static/sections/notifications.html
www.old/static/sections/one-moment.html
www.old/static/sections/people.html
www.old/static/sections/person.html
www.old/static/sections/profile.html
www.old/static/sections/settings.html
www.old/static/sections/signup-email.html
www.old/static/sections/signup-google.html
www.old/static/stylesheets/app.css
www.old/static/stylesheets/font_SourceSansPro.css
www.old/static/stylesheets/images/icons-000000.png
www.old/static/stylesheets/images/icons-000000@2x.png
www.old/static/stylesheets/images/icons-ffffff.png
www.old/static/stylesheets/images/icons-ffffff@2x.png
www.old/static/stylesheets/mapbox.css
www.old/static/stylesheets/theme.css
